{% extends "layout.html"  %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Home
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

	<h1> Home </h1>
		<a href="{{ url_for('experiment') }}" class="btn btn-primary">Start Experiment</a>
		<a href="{{ url_for('exp_history') }}" class="btn btn-primary">History</a>
</div> <!-- /container -->
{% endblock %}